* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.contenido{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
}

.toLeft{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background:rgb(42, 6, 77);
}

.toLeft #header{
    width: 90%;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.toLeft #section{
    width: 75%;
    color: #ccc;
}

.toLeft #footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.first{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.second{
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}
.imagen{
    width: 80%;
    height: auto;
    display: flex;
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ab5cdb;
    opacity: 0.8;
}

